<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>Personal Website - Ngô Thanh Bạch</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>

    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>ignore</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>com.bachnt.web.filter.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    
<!--    <filter>-->
<!--        <filter-name>CSRFPreventionFilter</filter-name>-->
<!--        <filter-class>org.apache.catalina.filters.CsrfPreventionFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>entryPoints</param-name>-->
<!--            <param-value>-->
<!--                /admin/login,-->
<!--                /admin/login.jsp,-->
<!--                /admin,-->
<!--                /admin/profile,-->
<!--                /admin/blog, /admin/blog?action=add, /admin/blog?action=edit,-->
<!--                /admin/projects, /admin/projects?action=add, /admin/projects?action=edit,-->
<!--                /admin/messages,-->
<!--                /admin/comments, /admin/comments?action=editForm,-->
<!--                /admin/testimonials, /admin/testimonials?action=add, /admin/testimonials?action=edit,-->
<!--                /admin/users, /admin/users?action=addForm, /admin/users?action=editForm-->
<!--            </param-value>-->
<!--        </init-param>-->

<!--    </filter>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CSRFPreventionFilter</filter-name>-->
<!--        <url-pattern>/admin/*</url-pattern>-->
<!--        <dispatcher>REQUEST</dispatcher>-->
<!--        <dispatcher>FORWARD</dispatcher>-->
<!--    </filter-mapping>-->

    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.bachnt.web.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/my-uploaded-images/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/error/500.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/WEB-INF/error/defaultError.jsp</location>
    </error-page>

</web-app>